@model IEnumerable<Adverts>

@{
    ViewBag.Title = "Adverts";
    Layout = "_Layout";
}

<h2>Adverts</h2>

<div class="container">
  <div class="row">
    <div class="col">
      Id
    </div>
    <div class="col">
      Name
    </div>    
    <div class="col">
      Type
    </div>
  </div>
  @foreach (var forecast in this.Model)
  {
    <div class="row">
      <div class="col">
        @Html.ActionLink(forecast.Id.ToString(), "Details", forecast)
      </div>
      <div class="col">
        @forecast.Name
      </div>      
      <div class="col">
        @forecast.Type
      </div>
    </div>
  }
</div>